{% macro content_column(item) %}
<div class="table-cell">
    <article class="item">
        <h3 class="titre mb-warn-color">{{ item.title }}</h3>
        <div class="contenu">
            {{ item.content }}
        </div>
    </article>
</div>
{% endmacro %}

{% macro caroussel_column(item) %}
<div class="table-cell">
    <caroussel interval="{{ item.interval }}">
        {% for image in item.images %}
            {% if loop.first %}
                <img src="./img/photo/{{ image }}.JPG" alt="{{ image }}" class="caroussel-item" />
            {% else %}
                <img src="" data-src="./img/photo/{{ image }}.JPG" alt="{{ image }}" class="caroussel-item hidden" loading="lazy"/>
            {% endif %}
        {% endfor %}
    </caroussel>
</div>
{% endmacro %}

<div class="table">
    <div class="table-body">
    {% for item in content.interets %}
        <div class="table-row">
            {% if loop.index is odd %}
                {{ content_column(item) }}
                {{ caroussel_column(item) }}
            {% else %}
                {{ caroussel_column(item) }}
                {{ content_column(item) }}
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
