/***********************
  STRUCTURE DE LA PAGE
************************/

.hidden {
    display: none;
}

.center {
    width: 100%;
    text-align: center;
}

.right {
    width: 100%;
    text-align: right;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.logo {
    width: 80px;
    opacity: 1;
    filter: sepia(100%) saturate(10000%) hue-rotate(175deg);
}

caroussel {
    display: block;
    text-align: center;
    cursor: pointer;
}

caroussel .caroussel-item {
    height: 100px;
    border-radius: 10px;
    filter: grayscale(50%);
}

caroussel .caroussel-item:hover {
    filter: grayscale(0%);
}

/* La page web */

html,
body {
    font-family: Roboto, arial, serif;
    font-size: 0.9em;
    scroll-behavior: smooth;
}

.mb-header {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}

.mb-content {
    margin: 0;
}

.category {
    padding-top: 4em;
}

/* L'entete */
header {
    width: 100%;
    height: auto;
    min-height: 14em;
    overflow: hidden;
}

header>.photo {
    display: none;
}

header>.entete-contenu {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

header>.entete-contenu>.titre {
    font-size: 250%;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 1em;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

header>.entete-contenu>.poste {
    font-size: 160%;
    font-weight: bold;
    text-align: center;
}

#contenu {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#contenu .titre-page {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 0.3em;
    margin-top: 0.6em;
}

#contenu .item {
    padding-top: 0.6em;
    padding-bottom: 1.6em;
}

#contenu .item>.titre {
    font-size: 150%;
    font-weight: bold;
}

#contenu .item>.sous-titre-gauche,
.lieu {
    float: left;
    /* margin-top:0.6em; */
    font-size: 110%;
    font-weight: bold;
}

#contenu .item>.sous-titre-gauche,
.lieu a {
    text-decoration: none;
}

#contenu .item>.sous-titre-gauche,
.lieu a:hover {
    text-decoration: none;
}

#contenu .item>.sous-titre-droit,
.date {
    text-align: right;
    margin-top: 0.3em;
    margin-right: 0.6em;
    font-style: italic;
}

#contenu .item>.contenu {
    width: 100%;
    margin-top: 0.3em;
    text-align: justify;
}

#contenu .item>.contenu>a {
    text-decoration: none;
    font-weight: bold;
}


#contenu .item>.contenu ul {
    padding-left: 0.6em;
    margin-left: 0.6em;
    margin-bottom: 0;
}

#contenu .item>.contenu>li {
    padding-top: 0.1em;
}

#contenu .item fieldset {
    margin-bottom: 1.9em;

}

#contenu .item label {
    float: left;
    width: 5em;
    text-align: right;
}

#contenu .item legend {
    font-size: 90%;
    text-align: left;
    font-weight: bold;
}

#interet h3 {
    margin-top: 0 !important;
}

#interet td {
    padding-bottom: 1em;
}

#reseaux {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

#reseaux .net-item {
    width: 100px;
    padding: 1em;
    display: inline-flex;
}

#reseaux .net-item h3 {
    display: none;
}

#reseaux .net-item img {
    width: 100%;
    opacity: 1;
    filter: sepia(100%) saturate(10000%) hue-rotate(175deg) saturate(80%);
}

#reseaux .net-item img:hover {
    filter: sepia(0%) saturate(0%) hue-rotate(0deg);
}

#reseaux .net-item p {
    text-align: center;
}

/* Le pied de page */

footer {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding-top: 1.8em;
    padding-bottom: 1em;
    overflow: hidden;
}

footer a {
    color: whitesmoke;
}

/***********************
    STYLE DE LA PAGE
************************/

/* Menu */
.mb-menu-item {
    max-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.centre {
    text-align: center;
}

.gras {
    font-weight: bold;
}

.italique {
    font-style: italic;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 2em;
}

.table-header {
    display: table-header-group;
    font-weight: bold;
}

.table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell {
    width: 50%;
    display: table-cell;
    overflow-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
}


@media only screen and (min-width: 480px) {

    .mb-menu-item {
        max-width: none;
        white-space: normal;
        overflow: initial;
        text-overflow: initial;
    }

    .mb-header {
        text-align: center;
    }

    caroussel .caroussel-item {
        height: 120px;
    }
}

@media only screen and (min-width : 800px) {

    html,
    body {
        font-size: 1em;
    }

    header>.photo {
        width: 14em;
        height: 14em;
        display: inline-block;
        ;
        position: relative;
    }

    header>.photo>img {
        width: 11em;
        height: 11em;
        border-radius: 1em;
        margin-top: 1.4em;
    }

    header>.entete-contenu {
        margin-left: 4em;
        display: inline-block;
        vertical-align: top;
    }

    #contenu {
        max-width: 800px;
        min-height: 45em;
        max-width: 45em;
        margin-left: auto;
        margin-right: auto;
    }

    #contenu .titre-page {
        padding-left: 1.2em;
    }

    #contenu>.item {
        margin-left: 0.6em;
        margin-right: 0.6em;
        padding: 0.6em;
        border-radius: 0.6em;
        overflow: hidden;
        /* display:block; */
        margin-bottom: 1.4em;
    }

    caroussel .caroussel-item {
        height: 150px;
    }

    #reseaux .net-item {
        width: 130px;
    }

    footer {
        margin-top: 2em;
        z-index: 20;
    }

}