<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ base.titre }}</title>
        
        <meta charset="utf-8" />
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ base.description }}"/>
        <meta name="keywords" content="Curriculum Vitae,CV"/>
        <meta name="author" content="Christophe Rubeck"/>
        <meta name="copyright" content="Christophe Rubeck {build_date}"/>
        <meta name="host" content="{{ base.url }}" />
        <meta name="google-site-verification" content="{{ base.google_key }}" />
        
        <link rel="canonical" href="{{ base.url }}" />
        <link rel="stylesheet" type="text/css" href="css/bambo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="icon" type="image/png" href="web_hi_res_512.png" />
        
        <meta prefix="og: http://ogp.me/ns#" property="og:type" content="profile" />
        <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="{{ base.titre }}" />
        <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ base.titre }}" />
        <meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ base.description }}" />
        <meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ base.url }}" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ base.url }}img/ChristopheRubeck-big.jpg" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:type" content="image/jpeg" />
        <meta prefix="og: http://ogp.me/ns#" property="og:image:alt" content="Christophe Rubeck" />

        <meta name="twitter:image" content="{{ base.url }}img/ChristopheRubeck-big.jpg" />
        <meta name="twitter:image:alt" content="Christophe Rubeck" />
        <meta name="twitter:site" content="{{ base.titre }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ base.titre }}" />
        <meta name="twitter:description" content="{{ base.description }}" />

        <script src="js/bambo.js"></script>
        <script src="js/cv.js"></script>
    </head>
    <body> 
        <!-- entete -->
        <header id="header" class="mb-header" itemscope itemtype="http://schema.org/Person">
        __coucou__ $$bobo$$ **cuir ?**
        </header>

        <!-- menu -->
        <nav id="menu" class="mb-menu">
            
        </nav>

        <!-- contenu de la page -->
        <main id="contenu" class="mb-content">
            
        </main> 

        <!-- pied de page -->
        <footer class="mb-primary-background">
            
        </footer>

    </body>
</html>