<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "includes/head.html" %}
    </head>
    <body> 
        <!-- entete -->
        <header id="header" class="mb-header" itemscope itemtype="http://schema.org/Person">
        {% include "includes/header.html" %}
        </header>

        <!-- menu -->
        <nav id="menu" class="mb-menu">
            {% include "includes/menu.html" %}
        </nav>

        <!-- contenu de la page -->
        <main id="contenu" class="mb-content">
            
        </main> 

        <!-- pied de page -->
        <footer class="mb-primary-background">
            
        </footer>

    </body>
</html>